/* @import url("sections/sidebar.css");
@import url("sections/gen-filter.css"); */

@import url("sections/cards.css");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #558ccc;
}

.homePage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send the image to the back */
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; /* Add a border around the content */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto; /* Add some margin for spacing and auto for horizontal centering */
  overflow: hidden; /* Make the box unscrollable */
  max-width: 60%; /* Set maximum width */
  max-height: 60vh; /* Set maximum height */
  margin-top: 50px;
  padding-top: 100px;
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(255, 255, 255, 2);
}

.header {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-size: cover;
  /* background-color: #558ccc; */
  background-position: right;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.textbox {
  display: flex;
  /* display: inline-flex; */
  flex-direction: column;
  width: 100%;
  color: white;
  top: 300px;
  /* text-align: center; */
  border-radius: 25px;
}

.button-container {
  display: flex;
  justify-content: center; /* Align buttons to the left */
}

.button-container button {
  padding: 15px 30px; /* Adjust padding to make the button bigger */
  border: none;
  border-radius: 8px;
  background-color: #ed5564; /* Green background */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove link decoration */
  margin-right: 10px; /* Adjust right margin as needed */
}

.button-container button:hover {
  background-color: white;
  color: #ed5564;
}
.register-hover {
  text-decoration: none;
  color: white;
}

.register-hover:hover {
  color: #ed5564;
}

.login-hover:hover {
  color: #ed5564;
}

.login-hover {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  transition: transform 0.3s ease, outline-color 0.3s ease;
  text-shadow: 0 0 10px white;
}

.logo:hover {
  transform: translateY(-5px);
  text-shadow: 0 0 15px white;
}

.logo h1 {
  padding-top: 50px;
  width: auto;
  font-size: 99px;
  text-align: center; /* Center the text */
}

.pokeball {
  width: 70px;
  height: 70px;
  padding-left: 100px;
  padding-top: 50px;
  padding-right: 25px;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.textbox1 {
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeDiv {
  width: 210px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.pokeDiv h3 {
  padding-bottom: 10px;
  margin: 0px;
  width: auto;
  font-size: medium;
}
.pokeDiv h2 {
  margin: 0px;
  width: auto;
  font-size: large;
}
.pokeImage {
  width: 200px;
  height: 200px;
}
.pokePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  align-items: left;
}

:root {
  --first-color: #2e2e41;
  --second-color: #ed5564;
  --third-color: #ffcc00;
  --text-color: #558ccc;

  --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

.genbarhome {
  padding-top: 500px;
  padding-bottom: 250px;
  display: flex;
  justify-content: center;
}

.genHome {
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: black;
  border: 10px;
  padding: 10px;
}

.genbarbase {
  padding-top: 50px;
  padding-bottom: 50px;
}

.genHome:hover,
.genCSS:hover {
  background-color: #558ccc;
  color: white;
}

.genCSS {
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: black;
  border: 10px;
  padding: 10px;
}

.gen-textbox {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 30px;
}

.tab-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.tab-menu-home {
  color: var(--text-color);
  list-style: none;
  background: var(--third-color);
  max-width: 1000px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--thrid-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
}

.tab-menu {
  color: var(--text-color);
  list-style: none;
  background: var(--third-color);
  max-width: 1000px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--thrid-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
}

.item-list {
  display: inline-block;
}

/*
SIDEBAR
*/

.sidebar button {
  width: 35px;
  padding-right: 10px;
}

.sidebar {
  position: fixed;
  top: 40%;
  left: -35px;
  width: 50px;
  /* height: 35vh; */
  background-color: #ed5564;
  padding-top: 20px;
  padding-bottom: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  transition: left 0.5s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.sidebar:hover {
  left: 0;
}

.sidebarphoto {
  width: 25px;
  display: flex; /* Change to flex to evenly space items */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly vertically */
  height: 100%; /* Make the ul fill the entire height of the sidebar */
}

/* 
POKEMON AND CARD DETAILS 
*/

[id^="modal"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: dim the background */
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

[id^="modal"]:target {
  display: flex;
}

.popup__wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.genSection {
  background-color: #558ccc;
}

.infobutton {
  cursor: pointer;
  list-style: none;
  background: #ed5564;
  padding: 10px;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Transition effect for background color and text color */
}

.addCollection:hover {
  background-color: #ffcc00;
  color: white;
  text-shadow: 0 0 10px black; /* Adjust the shadow size and color as needed */
}

/* .infobutton:hover {
  background-color: white;
  color: #ed5564;
} */
.padding {
  padding-bottom: 10px;
}

.infobutton a {
  background-color: white;
  color: #ed5564;
}

.outsideInfoButton {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popup__wrapper .pokeSprite {
  width: 300px;
  height: auto;
  font-size: larger;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.popup__close:hover {
  color: #ff0000; /* Optional: change color on hover */
}

/* 
LOGIN/REGISTER
 */
.all {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.body-login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/static/assests/login-bg2_upscaled.jpg);
  background-size: cover;
  background-position: center;
}

.body-login1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/static/assests/registerWallpaper_upscaled.jpg);
  background-size: cover;
  background-position: center;
}
.content {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 2);
  backdrop-filter: blur(04px);
  color: #fff;
  border-radius: 12px;
  padding: 30px;
  margin: auto; /* Center horizontally */
}

.content h2 {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 30px 0;
  padding: 5 15px;
  padding-bottom: 10px;
}

.input-box input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: 30px;
  font-size: 16px;
  color: #fff;
}

.input-box-home {
  background: rgba(0, 0, 0, 0.1);
  height: 310px;
  width: 410px;
  border: 2px solid rgba(255, 255, 255, 2);
  backdrop-filter: blur(04px);
  color: #fff;
  border-radius: 12px;
  padding: 30px;
  margin: auto;
  border: solid;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #0a2862;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10px;
  padding-right: 25px;
  flex-direction: column;
}

.login-btn {
  display: inline-block;
  background: #fff;
  color: #ed5564;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* margin-bottom: 40px; */
  padding: 10px;
  padding-top: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #ed5564;
  color: white;
}

.loginP {
  text-align: center;
  padding-top: 50px;
}

.login-reg-btn {
  display: inline-block;
  background: #fff;
  color: #ed5564;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* margin-bottom: 40px; */
  padding: 10px;
  padding-top: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.login-reg-btn:hover {
  background-color: #ed5564;
  color: white;
}

.already-p {
  margin-bottom: 25px;
}

.register-btn {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  /* padding: 10px 20px; */
  background-color: white;
  color: #ed5564;
  text-align: center;
  text-decoration: none;
  /* border: 2px solid #007bff; */
  border-radius: 5px;
  /* margin-top: 20px; */
}

/*
COLLECTIONS PAGE
*/

.missingH1 {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 600px;
  height: 30px;
}

.hidden {
  display: none;
}

#searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#SearchInput {
  width: 200px; /* Adjust width as needed */
  padding: 10px; /* Add padding for better appearance */
  border: 2px solid #fff; /* Add border with white color */
  border-radius: 25px; /* Add border-radius for rounded corners */
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  color: #000; /* Black text color */
  font-size: 16px; /* Adjust font size as needed */
}

#SearchInput::placeholder {
  color: #000; /* Placeholder text color */
  opacity: 0.5; /* Adjust opacity for placeholder */
  text-align: center;
}

#SearchInput:focus {
  outline: none; /* Remove default focus outline */
}

/*SideBar for the Filtering */

.filbtn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end; /* Align items to the right */
  position: fixed;
  top: 30%;
  right: -75px;
  width: 100px;
  background-color: #ed5564;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-top-left-radius: 20px; /* Rounded corner for top left */
  border-bottom-left-radius: 20px; /* Rounded corner for bottom left */
  transition: right 0.5s ease;
  height: auto;
}

.filbtn:hover {
  right: 0;
}

.filbtn ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  height: 400px;
}

.filbtn button {
  width: 75px;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  color: black;
  text-align: right;
  cursor: pointer;
  transition: text-align 0.5s ease;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
  text-align: center;
  font-size: large;
}

.filbtn ul::-webkit-scrollbar {
  display: none;
}

.filbtn ul::-webkit-scrollbar {
  display: none;
}

/* ----------------------------------------------------------info-------------------------------- */
:root {
  --identity-primary: #6a6a6a;
  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
  --body2-font-size: 12px;
  --body3-font-size: 14px;
  --caption-font-size: 14px;
  --common-line-height: 16px;
  --caption-line-height: 12px;
  --font-weight-bold: 700;
  --drop-shadow-inner: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

.body2-fonts,
.body3-fonts {
  line-height: var(--common-line-height);
}

.body2-fonts {
  font-size: var(--body2-font-size);
}

.body3-fonts {
  font-size: var(--body3-font-size);
}

.caption-fonts {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
}

main {
  height: max-content;
  border-color: transparent;
  background-color: transparent;
}

.header {
  padding: 20px 20px 24px 20px;
  position: relative;
  z-index: 2;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.header-wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.back-btn-wrap {
  max-height: 32px;
}

.back-btn-wrap img,
.header-wrapper p,
.header-wrapper h1 {
  fill: var(--grayscale-white);
  color: var(--grayscale-white);
}

/* .featured-img {
  position: relative;
} */
/* 
.featured-img a.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
} */

.featured-img a.arrow.left-arrow {
  left: -50px;
}

.featured-img a.arrow.right-arrow {
  right: -2rem;
}

.left-arrow-img {
  left: 100px;
}

.detail-img-wrapper {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.detail-img-wrapper img {
  width: 100%;
  height: 100%;
}

.detail-card-detail-wrapper {
  border-radius: 8px;
  background-color: var(--grayscale-white);
  box-shadow: var(--drop-shadow-inner);
  padding: 56px 20px 20px 20px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.power-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.power-wrapper > p {
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: var(--font-weight-bold);
  color: var(--grayscale-white);
  text-transform: capitalize;
  background-color: #74cb48;
}

.pokemon-detail-wrapper {
  display: flex;
  align-items: flex-end;
}

.pokemon-detail-wrapper .pokemon-detail-wrap {
  flex: 1;
  text-align: center;
  position: relative;
}

.pokemon-detail-wrap:before {
  content: "";
  background-color: var(--grayscale-light);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.pokemon-detail-wrap:last-child::before {
  display: none;
}

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}

.pokemon-detail-wrapper {
  min-height: 76px;
}

.pokemon-detail.number {
  flex-direction: column;
  gap: 0;
  align-items: center;
  padding: 8px 5px;
}

.pokemon-detail-wrap > .caption-fonts {
  color: var(--grayscale-medium);
}

.pokemon-detail-wrap .straighten {
  height: 15px;
  width: 15px;
}

.detail-card-detail-wrapper .about-text {
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.detail-card-detail-wrapper .pokemon-description {
  color: var(--grayscale-dark);
  text-align: center;
}

.stats-wrap {
  display: flex;
  align-items: center;
}

.stats-wrap p {
  color: var(--grayscale-dark);
  margin-right: 8px;
  min-width: 19px;
}

.stats-wrap p.stats {
  text-align: right;
  padding-right: 8px;
  min-width: 35px;
  border-right: 1px solid var(--grayscale-light);
  font-weight: var(--font-weight-bold);
}

.stats-wrap .progress-bar {
  flex: 1;
  border-radius: 4px;
  height: 4px;
}

.stats-wrap .progress-bar::-webkit-progress-bar {
  border-radius: 4px;
}

.stats-wrap .progress-bar::-webkit-progress-value {
  border-radius: 4px;
}

.detail-bg {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 8px;
  opacity: 0.1;
}

.detail-bg path {
  fill: var(--grayscale-white);
}

.header-wrap {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width to ensure proper centering */
  height: 100%; /* Full height if you want vertical centering too */
}

.centered-header .name-wrap {
  flex: 1;
  text-align: center;
}

.name-wrap {
  display: flex;
  justify-content: center; /* Center horizontally within .name-wrap */
  align-items: center; /* Center vertically within .name-wrap */
  text-align: center;
}

.name {
  font-size: 2em; /* Adjust the font size as needed */
  font-weight: bold;
}

.arrow:hover {
  cursor: pointer;
}
/* --------------------------audio--------------- */
audio::-webkit-media-controls-timeline {
  display: none;
}
/* audio::-webkit-media-controls-play-button{
  background-color:green;
} */
audio::-webkit-media-controls-timeline-container {
  display: none;
}
audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
audio::-webkit-media-controls-enclosure {
  width: auto;
}

.audio-cries {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
