/* @import url("sections/sidebar.css");
@import url("sections/gen-filter.css"); */

@import url("sections/cards.css");

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #558ccc;
}

.header {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-image: url("/static/assests/homePage.jpg");
  background-size: cover;
  background-color: #f0f0f0;
  background-position: right;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.textbox {
  display: flex;
  /* display: inline-flex; */
  flex-direction: column;
  width: 100%;
  color: white;
  top: 300px;
  /* text-align: center; */
  border-radius: 25px;
}

.button-container {
  display: flex;
  justify-content: left; /* Align buttons to the left */
  margin-top: 20px; /* Adjust top margin as needed */
  padding-left: 400px; /* Adjust left padding as needed */
}

.button-container button {
  padding: 15px 30px; /* Adjust padding to make the button bigger */
  border: none;
  border-radius: 8px;
  background-color: #ed5564; /* Green background */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove link decoration */
  margin-right: 10px; /* Adjust right margin as needed */
}

.button-container button:hover {
  background-color: white;
  color: #558ccc;
}

.register-hover {
  text-decoration: none;
  color: white;
}

.register-hover:hover {
  color: #ed5564;
}

.login-hover:hover {
  color: #ed5564;
}

.login-hover {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 150px;
  /* justify-content: center; */
}

.logo h1 {
  padding-top: 50px;
  width: 450px;
  font-size: 62px;
}

.pokeball {
  width: 50px;
  height: 50px;
  padding-left: 150px;
  padding-top: 50px;
}

.textbox p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.textbox1 {
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeImage {
  width: 200px;
  height: auto;
}
.pokeDiv {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.pokePage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: auto;
}

:root {
  --first-color: #2e2e41;
  --second-color: #ed5564;
  --third-color: #ffcc00;
  --text-color: #558ccc;

  --box-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
  --text-shadow: 0 5px 25px rgb(2, 2, 2, 0.1);
}

.link-light {
  color: black;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.genbarhome {
  padding-top: 600px;
  padding-bottom: 250px;
}

.genHome {
  background-color: white;
  text-decoration: none;
  border-radius: 7px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.genCSS {
  background-color: white;
  text-decoration: none;
  border-radius: 7px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.gen-textbox {
  color: black;
  background: white;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 150px;
  height: 30px;
}

.containter {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--first-color);
  position: relative;
}

.tab-nav-bar {
  position: relative;
  margin: 10px 10px 40px 10px;
}

.tab-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 0 auto;
}

.tab-menu {
  color: var(--text-color);
  list-style: none;
  background: var(--third-color);
  max-width: 1000px;
  padding: 10px;
  white-space: nowrap;
  border-bottom: 1px solid var(--thrid-color);
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  overflow-x: auto;
  user-select: none;
}

.item {
  color: var(--text-color);
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  margin: 0 2px;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--second-color);
  cursor: pointer;
  user-select: none;
}

/*
SIDEBAR
*/

.sidebar button {
  width: 35px;
}

.sidebar {
  position: fixed;
  top: 35%;
  left: -35px;
  width: 50px;
  /* height: 35vh; */
  background-color: #ed5564;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  transition: left 0.5s ease;
  z-index: 999;
  display: flex; /* Change to flex to evenly space items */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly vertically */
  height: 200px;
}

.sidebar:hover {
  left: 0;
}

.sidebarphoto {
  width: 25px;
  display: flex; /* Change to flex to evenly space items */
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly vertically */
  height: 100%; /* Make the ul fill the entire height of the sidebar */
}

/* 
POKEMON AND CARD DETAILS 
*/

[id^="modal"] {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional: dim the background */
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

[id^="modal"]:target {
  display: flex;
}

.popup__wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.genSection {
  background-color: #558ccc;
}

.infobutton {
  cursor: pointer;
  list-style: none;
  background: #ed5564;
  padding: 10px;
  border-radius: 15px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transition effect for background color and text color */
}

/* .infobutton:hover {
  background-color: white;
  color: #ed5564;
} */

.infobutton a {
  background-color: white;
  color: #ed5564;
}

.outsideInfoButton {
  background-color: white;
}

.popup__wrapper .pokeSprite {
  width: 300px;
  height: auto;
  font-size: larger;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.popup__close:hover {
  color: #ff0000; /* Optional: change color on hover */
}

.pokeImage {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/* 
LOGIN/REGISTER
 */
.all {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

.body-login {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/static/assests/login-bg2.jpg);
  background-size: cover;
  background-position: center;
}

.body-login1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/static/assests/register-bg.jpg);
  background-size: cover;
  background-position: center;
}
.content {
  background: rgba(0, 0, 0, 0.1);
  height: 310px;
  width: 410px;
  border: 2px solid rgba(255, 255, 255, 2);
  backdrop-filter: blur(04px);
  color: #fff;
  border-radius: 12px;
  padding: 30px;
  margin: auto;
}

.content h2 {
  font-size: 38px;
  font-weight: 800;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 45px;
  margin: 30px 0;
  padding: 5 15px;
}

.input-box input {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-sizing: 30px;
  font-size: 16px;
  color: #fff;
}

.btnn {
  display: inline-block;
  background: #fff;
  color: #0a2862;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 30px;
  padding: 10px;
}
