{% extends "base.html" %}

{% block content %}
<h1>Customer Details</h1>
<h2>Customer ID: {{ customer.id }}</h2>
<table class="table table-hover">
    <thead class="">
        <th scope="col">Name</th>
        <th scope="col">Number</th>
        <th scope="col">Balance</th>

    </thead>
    <tr>
        <td>
            {{ customer.name }}
        </td>
        <td>
            {{ customer.phone }}
        </td>
        <td>
            {{ customer.balance }}
        </td>
    </tr>
</table>
<h2>Orders</h2>
<table class="table table-hover">

    <thead class="">
        <th scope="col">Orders</th>
        <th scope="col">Total</th>
        <th scope="col">Created</th>
        <th scope="col">Processed</th>
        <th scope="col">Manage</th>
        <th scope="col"></th>
    </thead>
    {%for order in customer.orders %}
    <tr>
        <td>
            <a href="{{ url_for('html.orders') }}/{{ order.id }}">{{ order.id}}</a>
        <td>
            {{ order.total }}
        </td>
        <td>
            {{ order.created }}
        </td>
        <td>
            {{ order.processed }}
        </td>
        <td>
            {% if order.processed %}
            <form method="POST" action="{{ url_for('html.process_order_web', order_id=order.id) }}">
                <button class="btn btn-info" type="submit"disabled>Process</button>
            </form>
            {% else %}
            <form method="POST" action="{{ url_for('html.process_order_web', order_id=order.id) }}">
                <button class="btn btn-info" type="submit">Process</button>
            </form>
            {% endif %}
            {% set class_name = "pending" %}
                {% if order.processed %}
                    {% set class_name = "processed" %}
                {% endif %}
            <p class="{{ class_name }}"></p>
        </td>
        <td>
            {% if order.processed %}
                <form method="POST" action="{{ url_for('html.order_delete', order_id=order.id) }}">
                    <button class="btn btn-danger" type="submit" disabled>Delete</button>
                </form>
            {% else %}
                <form method="POST" action="{{ url_for('html.order_delete', order_id=order.id) }}">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            {% endif %}
        </td>
    </tr>
    {%endfor%}
</table>

{% endblock %}