{% extends "base.html" %} {% block content %}
<section class="genSection">
  <div class="header-gen">
    <div class="gen-textbox">
      <h1>Generation {{ number }}</h1>
    </div>
  </div>

  <div id="filterbtns" class="filbtn">
    <ul>
      <button type="button" class="filter btn" onclick="showAll()">Show All</button>
      <button type="button" class="filter btn" onclick="hideAll()">Hide All</button>
      <button type="button" class="filter btn" onclick="showPokemon('Grass')">Grass</button>
      <button type="button" class="filter btn" onclick="showPokemon('Fire')">Fire</button>
      <button type="button" class="filter btn" onclick="showPokemon('Water')">Water</button>
      <button type="button" class="filter btn" onclick="showPokemon('Bug')">Bug</button>
      <button type="button" class="filter btn" onclick="showPokemon('Poison')">Poison</button>
      <button type="button" class="filter btn" onclick="showPokemon('Flying')">Flying</button>
      <button type="button" class="filter btn" onclick="showPokemon('Normal')">Normal</button>
      <button type="button" class="filter btn" onclick="showPokemon('Electric')">Electric</button>
      <button type="button" class="filter btn" onclick="showPokemon('Ground')">Ground</button>
      <button type="button" class="filter btn" onclick="showPokemon('Fairy')">Fairy</button>
      <button type="button" class="filter btn" onclick="showPokemon('Psychic')">Psychic</button>
      <button type="button" class="filter btn" onclick="showPokemon('Ghost')">Ghost</button>
      <button type="button" class="filter btn" onclick="showPokemon('Ice')">Ice</button>
      <button type="button" class="filter btn" onclick="showPokemon('Dragon')">Dragon</button>
      <button type="button" class="filter btn" onclick="showPokemon('Dark')">Dark</button>
      <button type="button" class="filter btn" onclick="showPokemon('Fighting')">Fighting</button>
      <button type="button" class="filter btn" onclick="showPokemon('Rock')">Rock</button>
      <button type="button" class="filter btn" onclick="showPokemon('Steel')">Steel</button>
    </ul>
  </div>
  

  <div class="pokePage">
    {% for i in range((startNumber[number - 1]), (startNumber[number - 1] +
    amounts[number - 1])) %}
    <div class="pokeDiv">
      <div class="{{i}}"></div>
      <!-- <h1>{{i}}</h1> -->
      <h2>{{pokedex[i].name}} #{{i}}</h2>
      <img
        class="pokeImage"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{i}}.png"
      />
      
      <h3>Type: 
        {% set types = pokedex[i].type %}
        {% for type in types %}
          {{ type }}
        {% endfor %}
      </h3>

      {% for type in types %}
        <div class="{{ type }}" style="display: none;"></div>
      {% endfor %}

      <div class="padding">
        <form method="POST" action="{{ url_for('html.add_pokemon') }}">
          <input type="hidden" name="pokemon_number" value="{{ i }}" />
          <input type="hidden" name="gen_number" value="{{ number }}" />
          <button type="submit" class="infobutton addCollection">
            Add to Collection
          </button>
        </form>
      </div>
      <button class="infobutton outsideInfoButton">
        <a class="infobutton" href="#modal{{i}}">Information</a>
      </button>
      <div class="popup" id="modal{{i}}">
        <a class="popup__overlay" href="#"></a>
        <div class="popup__wrapper">
          <a class="popup__close" href="#">Close icon here</a>
          <img
            class="pokeSprite"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{i}}.png"
            alt="Pokemon Sprite"
          />
          <p>Name: {{ pokedex[i].name }}</p>
          <p>Weight: {{ pokedex[i].weight }}</p>
          <p>Height: {{ pokedex[i].height }}</p>
          <p>Power: {{ pokedex[i].power }}</p>
          <p>Moves:</p>
          <ul>
            {% for move in pokedex[i].moves %}
            <li>
              {{ move }}
              <button class="like-button">Like</button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    function showAll() {
      const elements = document.querySelectorAll('.pokeDiv');
      elements.forEach(function(element) {
        element.classList.remove('hidden');
      });
    }
    function hideAll() {
      const elements = document.querySelectorAll('.pokeDiv');
      elements.forEach(function(element) {
        element.classList.add('hidden');
      });
    }
    
    function showPokemon(type) {
      const elements = document.querySelectorAll('.' + type);
      elements.forEach(function(element) {
        const parent = element.parentElement;
        if (parent.classList.contains('hidden')) {
          parent.classList.remove('hidden');
        } else {
        parent.classList.add('hidden');
        }
      });
    }
  </script>
  

  {% endblock %}
</section>
