{% extends "base.html" %}

{% block content %}

<h1>This is the homepage</h1>


<!-- the rest of the html for homepage goes here -->

<!-- <header>
    <nav class="header__nav">
      <div class="header__logo">
        <h4>Pokedex</h4>




        <div class="header__logo-overlay"></div>
      </div>

      <ul class="header__menu">
        <li>
          <a href="#menu">Pokemons</a>
        </li>
        <li>
          <a href="#food">Discover</a>
        </li>
        <li>
          <a href="#services">Sign Up</a>
        </li>
        <li>
          <a href="#about-us">About Us</a>
        </li>
        <li>
          <img src="static/sprites/search.svg" alt="search" />
        </li>
      </ul>

      <ul class="header__menu-mobile">
        <li>
          <img src="static/sprites/menu.svg" alt="menu" />
        </li>
      </ul>
    </nav>
  </header> -->

<section class="hero">
  <div class="hero-image">
    <img src="static/sprites/background.jpeg" />
    <div class="hero-image__overlay"></div>
  </div>

  <div class="hero-content">
    <div class="hero-content-info">
      <h1>Welcome to your very own Pokedex</h1>
      <p>Now you will be able to see all the pokemons</p>

      <div class="hero-content__buttons">
        <button class="hero-content__order-button">See Pokemons!</button>
        <button class="hero-content__play-button">
          <img src="static/sprites/play-circle.svg" alt="play" />
          Gallery
        </button>
      </div>
    </div>

    <div class="hero-content__testimonial">
      <div class="hero-content__customer flex-center">
        <h4>10<span>M+</span></h4>
        <p>Collectors</p>
      </div>

      <div class="hero-content__review">
        <img src="static/sprites/user.png" alt="user" />
        <p>"I am now able to live my dream, ever since I was a kid I always wanted a pokedex."</p>
      </div>
    </div>
  </div>
</section>

<section class="about-us" id="about-us">
  <div class="about-us__image">
    <div class="about-us__image-sushi3">
      <img src="static/sprites/Pokeball-1.png" alt="sushi" data-aos="fade-right" />
    </div>

    <button class="about-us__button">
      Learn More

      <img src="static/sprites/arrow-up-right.svg" alt="learn more" />
    </button>

    <div class="about-us__image-sushi2">
      <img src="static/sprites/pokedex.webp" alt="sushi" data-aos="fade-right" />
    </div>
  </div>

  <div class="about-us__content" data-aos="fade-left">
    <p class="sushi__subtitle">About Us</p>
    <h3 class="sushi__title">Our goal is to make every pokemon fan's dream to life</h3>
    <p class="sushi__description">We will continue to update our pokedex for every new generation of pokemons
    </p>
  </div>
</section>

<section class="popular-foods" id="menu">
  <h2 class="popular-foods__title" data-aos="flip-up">Team</h2>

  <div class="popular-foods__filters sushi__hide-scrollbar" data-aos="fade-up">
    <button class="popular-foods__filter-btn active">All</button>
    <button class="popular-foods__filter-btn">
      <img src="/static/sprites/6.png" alt="sushi 9" />
      Charizard
    </button>
    <button class="popular-foods__filter-btn">
      <img src="/static/sprites/65.png" alt="sushi 8" />
      Alakazam
    </button>
    <button class="popular-foods__filter-btn">
      <img src="/static/sprites/94.png" alt="sushi 7" />
      Gengar
    </button>
    <button class="popular-foods__filter-btn">
      <img src="/static/sprites/143.png" alt="sushi 6" />
      Snorlax
    </button>
    <button class="popular-foods__filter-btn">All</button>
  </div>

  <div class="popular-foods__catalogue" data-aos="fade-up">
    <article class="popular-foods__card">
      <img class="popular-foods__card-image" src="static/sprites/25.png" alt="sushi-12" />
      <h4 class="popular-foods__card-title">Pikachu</h4>

      <div class="popular-foods__card-details flex-between">
        <div class="popular-foods__card-rating">
          <img src="static/sprites/star.svg" alt="star" />
          <p>4.9</p>
        </div>

        <p class="popular-foods__card-price">40HP</p>
      </div>
    </article>

    <article class="popular-foods__card active-card">
      <img class="popular-foods__card-image" src="static/sprites/59.png" alt="sushi-11" />
      <h4 class="popular-foods__card-title">Arcanine</h4>

      <div class="popular-foods__card-details flex-between">
        <div class="popular-foods__card-rating">
          <img src="static/sprites/star.svg" alt="star" />
          <p>5.0</p>
        </div>

        <p class="popular-foods__card-price">130HP</p>
      </div>
    </article>

    <article class="popular-foods__card">
      <img class="popular-foods__card-image" src="static/sprites/130.png" alt="sushi-10" />
      <h4 class="popular-foods__card-title">Gyrados</h4>

      <div class="popular-foods__card-details flex-between">
        <div class="popular-foods__card-rating">
          <img src="static/sprites/star.svg" alt="star" />
          <p>4.7</p>
        </div>

        <p class="popular-foods__card-price">100HP</p>
      </div>
    </article>
  </div>

  <button class="popular-foods__button">
    Other Pokemons
    <img src="static/sprites/arrow-right.svg" alt="arrow-right" />
  </button>
</section>

<section class="trending" id="food">
  <section class="trending-sushi">
    <div class="trending__content" data-aos="fade-right">
      <p class="sushi__subtitle">Lets Go!!</p>

      <h3 class="sushi__title">Complete your Pokedex!!
      </h3>
      <p class="sushi__description">Gym Leaders
      </p>

      <ul class="trending__list flex-between">
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Brock</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Misty</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Lt.Surge</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Erika</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Koga</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Sabrina</p>
        </li>
      </ul>
    </div>

    <div class="trending__image flex-center">
      <img src="static/sprites/images.png" alt="sushi-5" data-aos="fade-left" />

      <div class="trending__arrow trending__arrow-left">
        <img src="static/sprites/arrow-vertical.svg" alt="arrow vertical" />
      </div>

      <div class="trending__arrow trending__arrow-bottom">
        <img src="static/sprites/arrow-horizontal.svg" alt="arrow horizontal" />
      </div>
    </div>

  </section>

  <div class="trending__discover" data-aos="zoom-in">
    <p>Discover</p>
  </div>

  <section class="trending-drinks">
    <div class="trending__image flex-center">
      <img src="static/sprites/ash.png" alt="sushi-4" data-aos="fade-right" />

      <div class="trending__arrow trending__arrow-top">
        <img src="static/sprites/arrow-horizontal.svg" alt="arrow horizontal" />
      </div>

      <div class="trending__arrow trending__arrow-right">
        <img src="static/sprites/arrow-vertical.svg" alt="arrow vertical" />
      </div>
    </div>

    <div class="trending__content" data-aos="fade-left">
      <p class="sushi__subtitle">The mission</p>

      <h3 class="sushi__title">Our Goal
      </h3>
      <p class="sushi__description">
        We're crafting a Pokédex website to share our deep love for Pokémon with fellow fans, offering a personalized
        platform where we can all immerse ourselves in the enchanting world of Pokémon together.
        <br>
        <br>
        Resources:
      </p>
      <ul class="trending__list flex-between">
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>HTML</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>
            CSS</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>JavaScript</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>Python</p>
        </li>
        <li>
          <div class="trending__icon flex-center">
            <img src="static/sprites/check.svg" alt="check" />
          </div>
          <p>MySql</p>
        </li>
        <li>
          <!-- <div class="trending__icon flex-center">
              <img src="static/sprites/check.svg" alt="check" />
            </div>
            <p>Node.JS</p>
          </li> -->
      </ul>
    </div>
  </section>
</section>

<section class="subscription flex-center" id="services">
  <h2 data-aos="flip-down">
    Come Join Us <br />
    Fill your own Pokedex
  </h2>
  <p data-aos="fade-up">Sign up to become a Trainer</p>

  <div class="subscription__form" data-aos="fade-up">
    <input type="text" placeholder="Enter your email address" />
    <button>Get Started</button>
  </div>
</section>

<footer class="footer flex-between">
  <h3 class="footer__logo">
    <span>Poke</span>dex
  </h3>

  <ul class="footer__nav">
    <li><a href="#menu">Pokemons</a></li>
    <li><a href="#food">Discover</a></li>
    <li><a href="#services">Sign Up</a></li>
    <li><a href="#about-us">About Us</a></li>
  </ul>

  <ul class="footer__social">
    <li class="flex-center">
      <img src="static/sprites/facebook.svg" alt="facebook" />
    </li>
    <li class="flex-center">
      <img src="static/sprites/instagram.svg" alt="instagram" />
    </li>
    <li class="flex-center">
      <img src="static/sprites/twitter.svg" alt="twitter" />
    </li>
  </ul>
</footer>

<script src="js/script.js" type="module"></script>
{% endblock %}