{% extends "base.html" %} 
{% block content %} 
{% if error %}
<script>
  let error = "{{ error }}";
  alert(error);
</script>
{% endif %}
<div class="all">
  <div class="body-login">
      <div class="content">
          <form action="#" method="POST">
              <h2>Login:</h2>
              <div class="input-box">

              <label for="username">Username:</label>
              <input type="text" name="username"/>
              </div>

              <div class="input-box">
              <label for="password">Password:</label>
              <input type="password" name="password"/>
              <button type="submit" class="btnn">Login</button>
              </div>
          </form>
      </div>
  </div>
</div>

{% endblock %}