{% extends "base.html" %}

{% block content %}
<h1>Products</h1>

<table class="table table-hover">
    <thead class="">
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Amount Available</th>
    </thead>
        {%for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                <td>
                    {{ product.price }}
                </td>
                <td>
                    {{ product.available }}
                </td>
            </tr>
        {%endfor%} 
</table>

{% endblock %}