{% extends "base.html" %}

{% block content %}

{% if error %}
<script>
let error = "{{ error }}"
alert(error)
</script>
{% endif %}
<h1>Register:</h1>
<form action="#" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username"/>
    <label for="password">Password:</label>
    <input type="password" name="password"/>
    <button type="submit">Submit</button>
</form>

<p>Already have an account?</p>
<button type="button" class="btn btn-primary">
    <a href="{{ url_for('html.login') }}" class="link-light">Login
</button>
{% endblock %}